
@font-face {
  font-family: bemio;
  src: url(fonts/Bemio_0.ttf);
}
@font-face {
  font-family: bemioItalic;
  src: url(fonts/BemioItalic_0.ttf);
}

* {
    margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
  }
  
  *:focus {
      outline: 0 !important;
  }
  
  body {
    margin: 0 auto;
    overflow-x: hidden; 
    font-family: bemio;
    font-weight: normal;
  }

/* .heroContent{
    width: 100%;
height: calc(100vh - 60px);
background-image: url("img/heroImgOri.jpg");
background-color: black;
background-blend-mode: screen;
object-fit: cover;
background-position: center;
background-repeat: no-repeat;
z-index: -2;
} */

header{
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header Mobile */
.headerMobile .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    background-color: transparent !important;
}

.burger{
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  /* header desktop */
.headerDesktop{
    display:  none;
}

.logoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
}

h1{
 font-size: 22px;
 margin-top: 22px;
 color: #abbf0a;
}

.navbarDesktop{
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.navbarDesktopTwo{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navbarDesktopTwo a{
  color: black;
  font-size: 17px !important;
  transition: all 0.75s ease;
}

.active{
  color: #abbf0a !important;
}

.navbarDesktopTwo a:hover{
  color: #abbf0a;
  transition: all 0.75s ease;
}


.navbar a{
  font-size: 20px;
}

.socIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socIcons a{
    margin-right: 20px;
}

.calendar{
  transition: all 0.75s ease;
  color:#abbf0a;
}

.calendar:hover{
  color: black !important;
  transition: all 0.75s ease;
  
}

.socIcons a i{
    font-size: 22px;
    color: black;
}

.fa-facebook:hover{
    color: blue;
}

.fa-instagram:hover{
     color: salmon;
}

.fa-youtube:hover{
color: red;
}

.search {
    background: none;
    border-radius: 200px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transition: all 0.75s ease-in-out;
    margin-right: 20px;
  }
  .search__text {
    border: 0;
    background: transparent;
    outline: 0;
    color: black;
    float: left;
    line-height: 2.5rem;
    width: 0;
    transition: all 0.5s ease-in-out;
    font-size: 0.8rem;
    font-size: 18px;
  }

  .search__text::placeholder{
    color: black;
    font-size: 18px;
  }
  
  .search__button {
    color: #abbf0a;
    background: black;
    border-radius: 50%;
    float: right;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  .search:hover {
    background: transparent;
    border: #1e1e1e 1px solid;
  }
  .search:hover > .search__text {
    width: 12.5rem;
    margin-left: 1rem;
  }
  .search:hover > .search__button {
    transform: scale(0.75);
  }

  /* main ++++p+age+ to+u+r+s se+cti+o+n */
  .toursOuterSection{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px; 
  }

  .tours{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 22px;
  }

  .tour{
    width: 300px;
    margin-top: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding-bottom: 22px;
  }

  .tourImg{
    width: 100%;
  }

  .descr{
    padding-left: 22px;
  }

  h3{
    font-size: 22px;
    margin-top: 22px;
  }

  h3, .pDescription{
    width: 80%;
  }

  .btnDetails{
    margin-left: 0px;
    padding:0px;
    margin-top: 15px;
  }

  .category{
   background-color: #abbf0a;
   border-radius: 20px;
   width: 80px;
   padding-left: 10px;
  }
/* media queries */
@media only screen and (min-width: 768px) {
   
    .headerMobile{
        display: none;
    }
    .headerDesktop{
        display: block;
    }
}
